.navbar {
  background: linear-gradient(90deg, rgba(139, 0, 139, 1), rgba(139, 0, 139, 0.7));
  height: 6vw;
  position: relative;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  cursor: pointer;
}

.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.navbar-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-left: 25px;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 25px;
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.btnIcon:hover {
  background-color: rgb(61, 17, 82);
  padding: 5px 10px;
}

.navbar-right a {
  text-decoration: none;
  color: white;
}

.btnIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon {
  color: white;
}

.dropdown-blog {
  position: relative;
  display: inline-block;
}

.dropdown-blog-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-blog-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-blog-content a:hover {
  background-color: #f1f1f1;
}

.navbar .download-btn {
  font-size: 17px;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background: #813fd6;
  color: #fff;
}

.download-btn:hover {
  background-color: rgb(61, 17, 82);
}

.navbar-left hr {
  height: 40px;
  margin: 20px 0px;
}

.link:hover {
  background-color: rgb(61, 17, 82);
  padding: 5px 10px;
}

.nav-btn {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  visibility: hidden;
  top: 10px;
  right: 10px;
  transition: opacity 0.3s ease-in-out; /* Smooth transition */
}

.nav-close-btn {
  right: 10px; /* Adjusted for right positioning */
}

button.hidden {
  display: none; /* Utility class to hide elements */
}

@media only screen and (max-width: 1025px) {
  .nav-btn {
    visibility: visible; /* Ensure nav-btn is visible */
  }
  .navbar{
    height: 10vw;
  }

  .navbar .navbar-right {
    top: 0;
    right: 0;
    position: fixed;
    padding-top: 60px;
    padding-left: 30px;
    height: 100%;
    width: 30%; /* Adjusted for a better view on mobile */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(61, 17, 82);
    transition: transform 0.3s ease-in-out; /* Smooth transition for the menu */
    transform: translateX(100%);
    margin-right: 0;
  }

  .navbar .responsive_nav {
    transform: translateX(0);
  }
  .download-btn:hover {
  background-color: white;
  color: #813fd6;
}
.link:hover {
  background-color: white;
  padding: 5px 10px;
  color: #813fd6;
  border-radius: 10px;
}
}

@media (max-width: 412px) {
  .navbar{
    height: 20vw;

  }
  
}
